<% layout("/layouts/boilerplate") %>
<body>
  <div class="container my-4">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let l of list) { %>
        <a href="/listing/<%=l._id%>" class="cardlink">
        <div class="col mb-4">
          <div class="listing-card col" style="width: 18rem;">
            <img class="card-img-top" src="<%= l.image.url %>" alt="Image-index" style="height:20rem">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <h5 class="card-title"><b><%= l.title %></b></h5>
              <p class="card-text">
                &#8377;<%= l.price.toLocaleString("en-IN") %> / per night
              </p>
            </div>
          </div>
        </div>
        </a>
      <% } %>
    </div>
  </div>
</body>
